<h1 class="text-center">Edit Post</h1>
<hr />
<!-- <ng-container *ngIf="{ id: id$ | async, post: post$ | async } as postData"> -->
<form [formGroup]="postForm">
  <div class="mb-3">
    <label class="mb-2">Title</label>
    <input type="text" class="form-control" formControlName="title" />
    <div
      *ngIf="showTitleErrors()"
      class="p-1 mt-2 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-3"
    >
      {{ showTitleErrors() }}
    </div>
  </div>
  <div class="mb-3">
    <label class="mb-2">Description</label>
    <textarea
      type="text"
      class="form-control"
      formControlName="description"
    ></textarea>
    <div
      *ngIf="showDescriptionErrors()"
      class="p-1 mt-2 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-3"
    >
      {{ showDescriptionErrors() }}
    </div>
  </div>
  <div>
    <button class="btn btn-info" [disabled]="!postForm.valid">Save</button>
  </div>
</form>
<!-- </ng-container> -->
