<h1 class="text-center">Add Post</h1>
<hr />
<form [formGroup]="postForm" (ngSubmit)="onAddPost()">
  <div class="mb-3">
    <label class="mb-2">Title</label>
    <input type="text" class="form-control" formControlName="title" />
    <div *ngIf="showTitleErrors()" class="alert alert-danger p-1 mt-2">
      {{ showTitleErrors() }}
    </div>
  </div>
  <div class="mb-3">
    <label class="mb-2">Description</label>
    <textarea
      type="text"
      class="form-control"
      formControlName="description"
    ></textarea>
    <div *ngIf="showDescriptionErrors()" class="alert alert-danger p-1 mt-2">
      {{ showDescriptionErrors() }}
    </div>
  </div>
  <div>
    <button class="btn btn-info" [disabled]="!postForm.valid">Add Post</button>
  </div>
</form>
